
        body{
            background-color: #a8a8a8;
        }
        header{
            background-color: #603620;
            color: #fcfcfc;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            border: 5px solid rgb(177, 85, 0);
            padding: 16px;
            border-radius: 10px;
        }
        main{
            max-width: 800px;
            margin: 20px auto;
            background-color: #d6d6d6;
            color: rgb(0, 0, 0);
            padding: 16px;
            border-radius: 10px;
        }
        img{
            width: 280px;
            height: 240px;
            display: block;
            margin: 0 auto;
        }
        h2{
             color: #000000;
        }
        p{
            text-align: justify;
        }

        .subtitulo{
          color: #d6d6d6;
        }
        